arabic-reshaper==2.1.1
astroid==2.5.6
coverage==5.5
dj-static==0.0.6
Django==2.2.18
django-guardian==2.3.0
django-userena-ce==6.0.1
easy-thumbnails==2.5
future==0.18.2
gunicorn==20.0.4
html2text==2014.12.29
html5lib==1.1
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
Pillow==8.1.0
psycopg2-binary==2.8.6
pylint==2.8.2
pylint-django==2.4.4
pylint-plugin-utils==0.6
PyPDF2==1.26.0
python-bidi==0.4.2
python-dateutil==2.8.1
pytz==2021.1
reportlab==3.5.59
six==1.15.0
sqlparse==0.4.1
static3==0.7.0
toml==0.10.2
typed-ast==1.4.3
vobject==0.9.6.1
webencodings==0.5.1
wrapt==1.12.1
xhtml2pdf==0.2.5
