{% load i18n static %}
{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>{% block title %}FOSDEM Volunteers - Conquer the chaos!{% endblock %}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/master.css" %}" />
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    </head>
    <body>
        {% if messages %}
        <div id="top">
          <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <div id="container">
            <div id="header">
                {% block nav %}
                <ul id="nav">
                    <li><a href="{% url 'promo' %}"><span>{% trans 'Home' %}</span></a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'userena_profile_list' %}"><span>{% trans 'Profiles' %}</span></a></li>
                    <li><a href="{% url 'userena_umessages_list' %}"><span>{% trans 'Messages' %}</span></a></li>
                    <li><a href="{% url 'task_list' %}"><span>{% trans 'Tasks' %}</span></a></li>
                    <li><a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans 'Account' %} ({{ user.username }})</span></a></li>
                    <li><a href="{% url 'userena_signout' %}"><span>{% trans 'Signout' %}</span></a></li>
                    {% else %}
                    <li><a href="{% url 'userena_signin' %}"><span>{% trans 'Signin' %}</span></a></li>
                    <li><a href="{% url 'userena_signup' %}"><span>{% trans 'Signup' %}</span></a></li>
                    {% endif %}
                </ul>
                {% endblock %}
                {% if not user.is_authenticated %}
                <div id="try"></div>
                {% endif %}

            </div>
            {% block content_title %}{% endblock %}
            <div id="content-container">
                {% block content %}{% endblock %}
            </div><!-- /content-container-->

            <div id="footer"><p>Built by FOSDEM volunteers for FOSDEM volunteers!</p></div>
        </div><!-- /container-->
    </body>
 </html>
