{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load volunteer_extras %}

{% block content_title %}<h2 class="content-title">{% trans 'Tasks' %}</h2>{% endblock %}

{% block content %}
<form class="task_list" action="/tasks/" method="post">{% csrf_token %}
    {% for title, tasks in tasks.items %}
    <fieldset>
        <legend class="task_list">{% trans title %} <span style="font-size: small; font-weight: normal;">(<a href="/volunteers/{{ user.username }}/edit">{% trans 'Change in profile' %}</a>)</span></legend>
        <table class="task_list">
            <tr>
                <th>{% trans "I'm in" %}!</th>
                <th>{% trans 'Task' %}</th>
                <th>{% trans 'When' %}</th>
                <th>{% trans 'Volunteers' %}</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td><input type="checkbox" name="task" value="{{ task.id }}" {{ checked|get_item:task.id }} /></td>
                {% if attending|get_item:task.id == True %}
                <td class="special" title="{{ task.description }}">{{ task.name }}</td>
                {% else %}
                <td title="{{ task.description }}">{{ task.name }}</td>
                {% endif %}
                <td>{{ task.date|date:"M d" }} <{{ task.start_time|time:"H:i" }} - {{ task.end_time|time:"H:i" }}></td>
                {% if task.assigned_volunteers == task.nbr_volunteers_max %}
                <td class="blue" title="{% trans 'Full' %}\n{% for volunteer in task.volunteers.all %}{{ volunteer.user.first_name }} {{ volunteer.user.last_name}}\n{% endfor %}">
                {% elif task.assigned_volunteers >= task.nbr_volunteers %}
                <td class="green" title="{% trans 'Staffed' %}\n{% for volunteer in task.volunteers.all %}{{ volunteer.user.first_name }} {{ volunteer.user.last_name}}\n{% endfor %}">
                {% elif task.assigned_volunteers >= task.nbr_volunteers_min %}
                <td class="gray" title="{% trans 'Manageable' %}\n{% for volunteer in task.volunteers.all %}{{ volunteer.user.first_name }} {{ volunteer.user.last_name}}\n{% endfor %}">
                {% else %}
                <td class="red" title="{% trans 'More volunteers needed' %}\n{% for volunteer in task.volunteers.all %}{{ volunteer.user.first_name }} {{ volunteer.user.last_name}}\n{% endfor %}">
                {% endif %}
                {{task.assigned_volunteers}}/{{ task.nbr_volunteers }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
    </fieldset>
    {% endfor %}
    <input type="submit" value="{% trans "Save changes" %}" />
</form>

{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="{% url 'userena_profile_list_paginated' page_obj.previous_page_number %}">{% trans 'previous' %}</a>
        {% endif %}

        <span class="current">
            {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="{% url 'userena_profile_list_paginated'  page_obj.next_page_number %}">{% trans 'next' %}</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}
