{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load volunteer_extras %}

{% block content_title %}<h2 class="content-title">{% trans 'Task' %}</h2>{% endblock %}

{% block content %}
<form class="task_list">{% csrf_token %}
    <fieldset>
        <legend class="task_list">{% trans 'Task' %}</legend>
        <table class="task_list">
            <tr>
                <th width="20%">{% trans 'When' %}</th>
                <th width="40%">{% trans 'Title' %}</th>
                <th width="20%">{% trans 'Attending' %}</th>
                <th width="20%">{% trans 'Talk' %}</th>
                {% if task.location %}
                <th width="20%">{% trans 'Location' %}</th>
                {% endif %}
            </tr>
            <tr>
                <td>{{ task.date|date:"D" }}, {{ task.start_time|time:"H:i" }} - {{ task.end_time|time:"H:i" }}</td>
                <td>{{ task.name }}</td>
                <td>
                    {% if user.is_authenticated %}
                    {% for volunteer in task.volunteer_set.all %}
                        <a href="{% url 'profile_detail' volunteer.user.username %}">{{ volunteer.user.first_name }} {{ volunteer.user.last_name }},</a>
                    {% endfor %}
                    {% else %}
                        {{ task.volunteer_set.count}}/{{ task.nbr_volunteers }}
                    {% endif%}</td>
                <td>
                    {% if task.fosdem_url %}
                    <a href="{{task.fosdem_url}}">{{ task.talk }}</a>
                    {% else %}
                    {{task.talk}}
                    {% endif %}</td>
                {% if task.location %}
                <td>{{task.location}}</td>
                {% endif %}
            </tr>
            <tr>
                <th colspan="4" style="border-bottom: none;">&nbsp;</th>
            </tr>
            <tr>
                <td colspan="4">{{ task.description|linebreaksbr|urlize }}</td>
            </tr>
        </table>
        <br>
    </fieldset>
</form>

<div id="dialog" title="Task"></div>
{% endblock %}
