{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load volunteer_extras %}

{% block content_title %}<h2 class="content-title">{% trans 'Tasks' %}</h2>{% endblock %}

{% block content %}
<a href="/tasks/{{ user.username }}" title="Print tasks">Print your tasks</a>
<form class="task_list" action="/tasks/" method="post">{% csrf_token %}
    {% for title, tasks in tasks.items %}
    <fieldset>
        <legend class="task_list">{% trans title %} <span style="font-size: small; font-weight: normal;">
            {% if title == 'preferred tasks' %}
            (<a href="/volunteers/{{ user.username }}/edit">{% trans 'Change in profile' %}</a>)
            {% endif %}
        </span></legend>
        <table class="task_list">
            <tr>
                <th width="10%">{% trans "I'm in" %}!</th>
                <th width="55%">{% trans 'Task' %}</th>
                <th width="20%">{% trans 'When' %}</th>
                <th width="15%">{% trans 'Volunteers' %}</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td><input type="checkbox" name="task" value="{{ task.id }}" {{ checked|get_item:task.id }} /></td>
                {% if attending|get_item:task.id == True %}
                <td class="task-name special-task" title="{{ task.description }}">{{ task.name }} <span class="small_note">(Hey, you're attending this!)</span></td>
                {% else %}
                <td class="task-name" title="{{ task.description }}">{{ task.name }}</td>
                {% endif %}
                <td>{{ task.date|date:"D" }}, {{ task.start_time|time:"H:i" }} - {{ task.end_time|time:"H:i" }}</td>
                {% if task.assigned_volunteers == task.nbr_volunteers_max %}
                <td class="task-volunteers blue" title="{% trans 'Full' %}<br/><br/>Signed up:<br/>{% for volunteer in task.volunteers.all %}* {{ volunteer.user.first_name }} {{ volunteer.user.last_name}} ({{ volunteer.user }})<br/>{% endfor %}">
                {% elif task.assigned_volunteers >= task.nbr_volunteers %}
                <td class="task-volunteers green" title="{% trans 'Staffed' %}<br/><br/>Signed up:<br/>{% for volunteer in task.volunteers.all %}* {{ volunteer.user.first_name }} {{ volunteer.user.last_name}} ({{ volunteer.user }})<br/>{% endfor %}">
                {% elif task.assigned_volunteers >= task.nbr_volunteers_min %}
                <td class="task-volunteers gray" title="{% trans 'Manageable' %}<br/><br/>Signed up:<br/>{% for volunteer in task.volunteers.all %}* {{ volunteer.user.first_name }} {{ volunteer.user.last_name}} ({{ volunteer.user }})<br/>{% endfor %}">
                {% else %}
                <td class="task-volunteers red" title="{% trans 'More volunteers needed' %}<br/><br/>Signed up:<br/>{% for volunteer in task.volunteers.all %}* {{ volunteer.user.first_name }} {{ volunteer.user.last_name}} ({{ volunteer.user }})<br/>{% endfor %}">
                {% endif %}
                {{task.assigned_volunteers}}/{{ task.nbr_volunteers }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
    </fieldset>
    {% endfor %}
    <input type="submit" value="{% trans "Save changes" %}" />
</form>

<div id="dialog" title="Task"></div>

{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="{% url 'userena_profile_list_paginated' page_obj.previous_page_number %}">{% trans 'previous' %}</a>
        {% endif %}

        <span class="current">
            {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="{% url 'userena_profile_list_paginated'  page_obj.next_page_number %}">{% trans 'next' %}</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}
