{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load volunteer_extras %}

{% block content_title %}<h2 class="content-title">{% trans 'Task' %}</h2>{% endblock %}

{% block content %}
<form class="task_list">{% csrf_token %}
    <fieldset>
        <legend class="task_list">{% trans 'Task' %}</legend>
        <table class="task_list">
            <tr>
                <th width="20%">{% trans 'When' %}</th>
                <th width="40%">{% trans 'Title' %}</th>
                <th width="20%">{% trans 'Attending' %}</th>
                <th width="20%">{% trans 'Talk' %}</th>
            </tr>
            <tr>
                <td>{{ task.date|date:"D" }}, {{ task.start_time|time:"H:i" }} - {{ task.end_time|time:"H:i" }}</td>
                <td>{{ task.name }}</td>
                <td>
                {% for volunteer in task.volunteer_set.all %}
                    {{ volunteer.user.first_name }} {{ volunteer.user.last_name }},
                {% endfor %}
                <td>{{ task.talk }}</td>
            </tr>
            <tr>
                <th colspan="4" style="border-bottom: none;">&nbsp;</th>
            </tr>
            <tr>
                <td colspan="4">{{ task.description }}</td>
            </tr>
        </table>
        <br>
    </fieldset>
</form>

<div id="dialog" title="Task"></div>
{% endblock %}
