{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load volunteer_extras %}

{% block content_title %}<h2 class="content-title">{% trans 'Tasks' %}</h2>{% endblock %}

{% block content %}
<form class="task_list" action="/tasks/{{ user.username }}" method="post">{% csrf_token %}
    <fieldset>
        <legend class="task_list">{{ user.username }} {% trans 'tasks' %}</legend>
        <table class="task_list">
            <tr>
                <th width="20%">{% trans 'Task' %}</th>
                <th width="40%">{% trans 'Decription' %}</th>
                <th width="20%">{% trans 'When' %}</th>
                <th width="15%">{% trans 'Volunteers' %}</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.date|date:"D" }}, {{ task.start_time|time:"H:i" }} - {{ task.end_time|time:"H:i" }}</td>
                <td>{{task.assigned_volunteers}}/{{ task.nbr_volunteers }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
    </fieldset>
    <input type="submit" value="{% trans "Print tasks" %}" />
</form>

<div id="dialog" title="Task"></div>

{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="{% url 'userena_profile_list_paginated' page_obj.previous_page_number %}">{% trans 'previous' %}</a>
        {% endif %}

        <span class="current">
            {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="{% url 'userena_profile_list_paginated'  page_obj.next_page_number %}">{% trans 'next' %}</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}
