{% extends "base_generic.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<ul>
   <form method="post" action=".">{% csrf_token %}
      <p>
        <label for="id_username">Username:</label>
        {{ form.username }}
      </p>
      <p>
        <label for="id_password">Password:</label>
        {{ form.password }}
      </p>
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
        <input type="hidden" name="next" value="/edijochems/" />
      {% endif %}
      <input type="submit" value="login" />
    </form>
</ul>
{% endblock %}
