{% extends "base.html" %}

{% block content_title %}<h2 class="content-title">Frequently asked questions</h2>{% endblock %}

{% block content %}

<div class="faq">

<h3>What is a volunteer?</h3>
<p>A volunteer is someone who will help out during the event, by performing the assigned tasks and lending a hand here and there.</p>

<h3>What is different in 2021?</h3>
<p>This year, we will be meeting online only. While we will try to simulate the real thing as best as we can, some aspects will be noticeably different.</p>

<h3>Where do I go when I arrive?</h3>
<p>Firstly, please stay at home and follow your local regulations. Don't come to Brussels or the ULB, no one will be there.</p>
<p>You will get an email before your slot inviting you to the correct virtual rooms, and receive the correct permissions.</p>
<p>If you don't get one or have any questions, see the section Communication below.</p>

<h3>There has been a spill. How do I contact the cleaning volunteers?</h3>
<p>Attendees are responsible for cleaning up their own spills this year.</p>

<h3>We need a volunteer here.</h3>
<p>See Communication below and pick one depending on how urgent the need is.</p>

<h3>Why should I volunteer?</h3>
    <ul class="faq">
        <li>Feel warm &amp; fuzzy (especially useful during this particularly cold time of the year)</li>
        <li>You get a free T-Shirt</li>
        <li>It is fun to do</li>
        <li>Connect with other bright people who decided to volunteer</li>
        <li>Help the inspiring FLOSS ecosystem by taking care of the developers and users of some of the world's most useful software projects</li>
    </ul>

<h3>How do I sign up to be a volunteer?</h3>
<p>You can create yourself an account on our volunteer tool ( <a href="https://volunteers.fosdem.org/">https://volunteers.fosdem.org/</a> ) and see (and select) available tasks. Please note that if you do select tasks on the tool, you are committing to being there and doing those tasks. You can change your selected tasks any time, but you will make it much easier to plan the event if you make your final changes by the Thursday before FOSDEM. If you can't make it to a particular task, please communicate it clearly and in time. Your help is greatly appreciated!</p>
<p>This year, you'll also need to create an account on <a href="http://fosdem.org/submit">penta</a>, complete you basic profile on there, and enter your penta username on your volunteer account profile. This will allow us to provide you with the correct permissions on Matrix and generate you a free T-Shirt voucher code.</p>

<h3>What kind of volunteer tasks can I expect?</h3>
<p>This year being online, a lot of our classic tasks are superfluous, however being in a new environment, those remaining tasks are just as important as ever.</p>

    <ul class="faq">
        <li>Hosting - Checking the speaker is online, Introducing world famous speakers, and moderate the chat during the presentation. Then you get to appear with the speaker (from the comfort of your own home) in a video Q&amp;A session, and moderate the post-video chat session afterwards.</li>
        <li>Virtual Infodesk - Answer questions from attendees, provide basic technical support, plus give directions. There will be people to help *you* at the virtual Infodesk as well.</li>
    </ul>

<h3>Are there any pre-requisites?</h3>
<p>Being online only this year, you'll need to have a stable internet connection. You will also need to be confident in reading and typing in English.</p>
<p>If you will be hosting a talk with a speaker, you will need a microphone and headphones, be confident in speaking in English, and it would also be nice if you had a webcam.</p>

<h3>Communication</h3>

    <ul class="faq">
        <li>Until the Friday before FOSDEM and starting the Monday after FOSDEM, <a href="https://lists.fosdem.org/listinfo/volunteers">the volunteers mailing list</a> will be primarily used.</li>
	<li>Shortly before, during and after FOSDEM, we primarily use real time chat: <a href='https://riot.im/app/#/room/#fosdem-volunteers:matrix.org'>matrix</a> or <a href="https://webchat.freenode.net?channels=fosdem-volunteers">irc</a>, channel #fosdem-volunteers..</li>
        <li>Need direct contact with the volunteers admins? Send an e-mail to <a href="mailto:volunteer-admin@lists.fosdem.org">volunteer-admin@lists.fosdem.org</a></li>
        <li>Urgent? Contact the volunteer admin(s) via +32 27 88 74 72. English should be used by default on the phone.</li>
        <li>Very urgent? Directly contact a FOSDEM staff member.</li>
    </ul>


<h3>I am underage, but I want to help out. Is that possible?</h3>
<p>The minimum age to apply for helping out as a volunteer is 16. In any case, everybody who is a volunteer will be treated as an equal regardless of their age.</p>

<h3>Is there any compensation for volunteers?</h3>
<p>Since we are virtual this year, all we can provide you with is a fancy free T-Shirt.</p>
<p>No other compensation is available. This holds true for all volunteers, including staff. Staff is just the group of year-round volunteers.</p>

<h3>T-Shirts</h3>
<p>This year we will try to provide all volunteers with a free T-Shirt. Where possible, we will try to do this before the event, so you can wear it with pride.</p>
<p>You'll receive a voucher code by email, which you can redeem via our special store.</p>

<h3>Can I become a staff member?</h3>
<p>Becoming a staff member requires a minimum of having been a volunteer for at least one year</p>
<p>After this, you could be asked by a staff member to join the staff at some point.</p>

<h3>Other questions?</h3>
<p>Use <a href="https://lists.fosdem.org/listinfo/volunteers">the volunteers mailing list</a> and e-mail your question!</p>

</div>

{% endblock %}
