{% extends "base.html" %}
{% load url from future %}

{% block content_title %}<h2 class="content-title">Frequently asked questions</h2>{% endblock %}

{% block content %}

<div class="faq">

<h3>Medical emergency</h3>
<p>Contact Red cross. They have walkie talkies. Infodesks and staff members have walkie talkies.</p>

<h3>Where do I go when I arrive?</h3>
<p>Please come to the K infodesk. Ask for <a href="/volunteers/markvdb">Mark</a> or <a href="/volunteers/jrial/">Juan</a>.
    See the <a href="https://fosdem.org/practical/transportation/">Transportation</a> page for how to get there.
</p>
<p>If you arrive on Friday noon for the buildup, nothing will be there yet. Don't worry. You will be part of the team that sets it up!</p>

<h3>There has been a spill. How do I contact the cleaning volunteers?</h3>
<p>Please call them through the walkie talkie network.</p>

<h3>We need a volunteer here.</h3>
<p>Urgent? Call +32 486 961726 (Mark) or +32 496 737018 (Juan).</p>
<p>Less urgent? Please don't clog the phone lines and use irc.freenode.net#fosdem-volunteers .</p>

<h3>We ran out of...</h3>
<p>Urgent? Call Koert at the infodesk, or walk over if you're . You can find his phone number on the info sheet you received.</p>
<p>Less urgent? Please don't clog the phone lines and use irc.freenode.net#fosdem-volunteers .</p>

<h3>I'm scheduled as a video volunteer. Where do I find more information?</h3>
<p>Please contact <a href="mailto:niels@fosdem.org">Niels</a> for more information.</p>

<h3>Is there any compensation for volunteers?</h3>
<p>There is some food and drinks available for volunteers. On Friday evening, and on Sunday during cleanup, we share a proper meal.</p>
<p>No other compensation is available. This holds true for all volunteers, including staff. Staff is just the group of year-round volunteers.</p>

<h3>Is there any travel or accomodation support for volunteers?</h3>
<p>No, unfortunately there isn't.</p>

</div>

{% endblock %}
