{% extends "base.html" %}
{% load url from future %}
{% block content %}
<div id="intro">
    <h2 class="intro"><span>FOSDEM</span><br/>Volunteering</h2>

    <p class="intro">This is a site that brings all the volunteers together.
    Find all the cool tasks that you are interested in.</p>

    <p id="xtra-info">Sum Ting Wong? For bugs you can report an issue at
    <a href="http://github.com/jrial/fosdem-volunteers/issues">Github</a>.</p>
</div><!-- /intro-->

<ul class="features">
    <li><h3>FOSDEM</h3>
        <p><a href="https://www.fosdem.org">FOSDEM</a> is a free event that offers open source
        communities a place to meet, share ideas and collaborate.</p>
    </li>

    <li><h3>Location</h3>
        <p>FOSDEM will take place at the<a href="https://fosdem.org/practical/transportation/">
        ULB Solbosch Campus, Brussels, Belgium, Europe, Earth</a>.</p>
    </li>

    <li><h3>Volunteering</h3>
        <p>FOSDEM needs you! Every year, the FOSDEM team is assisted by an enthusiastic team of volunteers
        to help out with various tasks and make the event a fun and safe place for all our visitors.</p>
    </li>
</ul>

<ul class="features">
    <li><h3>Mailing List</h3>
			<p>You can subscribe to receive updates from the <a href="https://lists.fosdem.org/listinfo/volunteers">mailing list</a></p>
			<p>You can post a message to all the members, send email to <a href="mailto:volunteers@lists.fosdem.org">volunteers@lists.fosdem.org</a></p>
    </li>

    <li><h3>IRC</h3>
        <p>IRC is available in <a href="irc://chat.freenode.net/fosdem-volunteers">#fosdem-volunteers</a> (<a href="http://webchat.freenode.net/?channels=fosdem-volunteers">webchat</a>) on <a href="http://freenode.net/">freenode</a></p>
    </li>

    <li><h3>Real People</h3>
        <p><strong>Mark van den Borre</strong></p>
		<p><a href="mailto:mvandenborre@fosdem.org">mvandenborre@fosdem.org</a></p>
        <p><strong>Juan Rial</strong></p>
        <p><a href="mailto:jrial@fosdem.org">jrial@fosdem.org</a></p>
    </li>
</ul>
{% endblock %}
