{% extends "base.html" %}
{% block content %}
<div id="intro">
    <h2 class="intro"><span>FOSDEM</span><br/>Volunteering</h2>

    <p class="intro">This is a site that brings all the volunteers together.
    Find all the cool tasks that you are interested in.</p>

    <p id="xtra-info">Problems? For bugs you can report an issue at
    <a href="https://github.com/FOSDEM/volunteers/issues">Github</a>.</p>
</div><!-- /intro-->

<ul class="features">
    <li><h3>FOSDEM</h3>
        <p><a href="https://www.fosdem.org">FOSDEM</a> is a free event that offers open source
        communities a place to meet, share ideas and collaborate.</p>
    </li>

    <li><h3>Location</h3>
        <p>FOSDEM 2023 will be returning to the ULB in Brussels, Belgium, while continuing to offer an online presence.</p>
    </li>

    <li><h3>Volunteering</h3>
        <p>FOSDEM needs you! Every year, the FOSDEM team is assisted by an enthusiastic team of volunteers
        to help out with various tasks and make the event a fun and safe place for all our visitors.</p>
    </li>
</ul>

<ul class="features">
    <li><h3>Mailing List</h3>
			<p>You can subscribe to receive updates from the <a href="https://lists.fosdem.org/listinfo/volunteers">mailing list</a></p>
			<p>You can post a message to all the members, send email to <a href="mailto:volunteers@lists.fosdem.org">volunteers@lists.fosdem.org</a></p>
    </li>

    <li><h3>Chat</h3>
	    <p>Real time chat is bridged between matrix and irc:
	       <ul>
   	         <li><a href='https://matrix.to/#/#volunteers:fosdem.org'>#fosdem-volunteers</a> on matrix (<a href='https://chat.fosdem.org/#/room/#volunteers:fosdem.org'>webchat</a>)</li>
            <li><a href="irc://irc.libera.chat/fosdem-volunteers">#fosdem-volunteers</a> (<a href="https://web.libera.chat/#fosdem-volunteers">webchat</a>) on <a href="https://irc.libera.chat/">libera chat</a></li>
	       </ul>
	    </p>
    </li>

    <li><h3>Real People</h3>
        <p><strong>Pieter De Praetere</strong></p>
            <p><a href="mailto:pieter@fosdem.org">pieter@fosdem.org</a></p>
        <p><strong>Kristian Schuhmacher</strong></p>
		    <p><a href="mailto:kristian@fosdem.org">kristian@fosdem.org</a></p>
    </li>
</ul>
{% endblock %}
