{% extends "base.html" %}
{% block content %}
<div id="intro">
    <h2 class="intro"><span>FOSDEM</span><br/>Volunteering</h2>

    <p class="intro">This is a site that brings all the volunteers together.
    Find all the cool tasks that you are interested in.</p>

    <p id="xtra-info">Problems? For bugs you can report an issue at
    <a href="https://github.com/FOSDEM/volunteers/issues">Github</a>.</p>
</div><!-- /intro-->

<ul class="features">
    <li><h3>FOSDEM</h3>
        <p><a href="https://www.fosdem.org">FOSDEM</a> is a free and non-commercial two-day event organised by volunteers 
            to promote the widespread use of free and open source software. The goal is to provide free and open source software developers and communities a place to meet.</p>
    </li>

    <li><h3>Location</h3>
        <p>FOSDEM 2026 will take place at the <a href="https://fosdem.org/2026/practical/transportation/"> ULB in Brussels, Belgium</a>, 
            within many of the building on the Solbosch campus.</p>
    </li>

    <li><h3>Volunteering</h3>
        <p>FOSDEM needs you! Every year, the FOSDEM team is assisted by an enthusiastic team of volunteers
        to help out with various tasks and make the event a fun and safe place for all our visitors.</p>
    </li>
</ul>

<ul class="features">
    <li><h3>Mailing List</h3>
			<p>You can subscribe to receive updates from the <a href="https://lists.fosdem.org/listinfo/volunteers">mailing list</a></p>
    </li>

    <li><h3>Chat</h3>
	    <p>Join the Volunteering chat channel on Matrix:
            <a href='https://matrix.to/#/#volunteers:fosdem.org'>#fosdem-volunteers</a> on matrix (<a href='https://chat.fosdem.org/#/room/#volunteers:fosdem.org'>webchat</a>)
	    </p>
    </li>

    <li><h3>Real People</h3>
        <p>While you may have questions, please only reach out directly to the volunteer coordinators in case of a real emergency!</p>
        <p><strong>Kristian Schuhmacher</strong></p>
		<p><a href="mailto:kristian@fosdem.org">Send Kristian an email</a></p>
        <p><strong>Dan Clark</strong></p>
		<p><a href="mailto:dan@fosdem.org">Send Dan an email</a></p>
        <p><strong>Pieter De Praetere</strong></p>
        <p><a href="mailto:pieter@fosdem.org">Send Pieter an email</a></p>
    </li>
</ul>
{% endblock %}
