[Unit]
Description = FOSDEM Volunteers Tool
After = network.target

[Service]
PermissionsStartOnly = true
RuntimeDirectory = volunteers
PIDFile = /run/volunteers/volunteers.pid
User = {{ app_user }}
Group = {{ app_group }}
WorkingDirectory = {{ base_dir }}/tool
ExecStart = {{ base_dir }}/venv/bin/gunicorn volunteer_mgmt.wsgi -b 127.0.0.1:5000 --pid /run/volunteers/volunteers.pid
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID

[Install]
WantedBy = multi-user.target