[Unit]
Description = FOSDEM Volunteers Tool
After = network.target

[Service]
User = {{ app_user }}
Group = {{ app_group }}
WorkingDirectory = {{ base_dir }}/tool
ExecStart = {{ base_dir }}/venv3/bin/gunicorn volunteer_mgmt.wsgi -b 127.0.0.1:5000 --workers 4 --threads 2 --worker-class gthread --timeout 120 --access-logfile - --error-logfile -

[Install]
WantedBy = multi-user.target
