on: [push]

jobs:
  test_job:
    runs-on: ubuntu-latest
    env:
      OS: ubuntu-latest
      PYTHON: '3.13'
    name: Linting and Testing
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test action step
        uses: ./
        id: test
